Project Part III

Diversity in recommendations ensures that users are exposed to a wide range of content. Moreover, diversity in sequential group recommendation systems is particularly important since it helps prevent the reinforcement of biases that may arise from repeated exposure to similar types of content. For example, in a system where recommendations are based solely on past behaviour, there is a risk that users will only be exposed to content that aligns with their previous interactions, thus limiting their exposure to new movies. 

In Part III of the project, we would like to promote diversity in recommender systems to offer a wide range of content and ensure that this content is relevant and engaging for
all members of the group. Motivated by the diversification methods we discussed in class, design (7 points) and implement (7 points) a new method for producing diverse sequential group recommendations. Explain why this method works well for the case of sequential group recommendations (6 points). Prepare also a short presentation (about 5 slides) to show how your method works (5 points).

In [1]:
import pandas as pd
import numpy as np
from collections import defaultdict
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt

In [2]:
links = pd.read_csv('ml-latest-small/links.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
ratings = pd.read_csv('ml-latest-small/ratings.csv')
tags = pd.read_csv('ml-latest-small/tags.csv')

print("Links Dataset:")
display(links.head())

print("\nMovies Dataset:")
display(movies.head())

print("\nRatings Dataset:")
display(ratings.head())

print("\nTags Dataset:")
display(tags.head())

rating_count = ratings.shape[0]
print(f"\nTotal number of ratings: {rating_count}")

Links Dataset:

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

Movies Dataset:

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Ratings Dataset:

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

Tags Dataset:

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

Total number of ratings: 100836